<div class="sliders">
  Rows ({{ rows() }})
  <mat-slider min="1" max="50">
    <input matSliderThumb [(ngModel)]="rows" />
  </mat-slider>
  Cols ({{ cols() }})
  <mat-slider min="1" max="50">
    <input matSliderThumb [(ngModel)]="cols" />
  </mat-slider>
  Cell width ({{ cellWidth() }})
  <mat-slider min="1" max="100">
    <input matSliderThumb [(ngModel)]="cellWidth" />
  </mat-slider>
  Cell height ({{ cellHeight() }})
  <mat-slider min="1" max="100">
    <input matSliderThumb min="1" max="100" [(ngModel)]="cellHeight" />
  </mat-slider>
  Gap ({{ gapSize() }})
  <mat-slider min="0" max="10">
    <input matSliderThumb [(ngModel)]="gapSize" />
  </mat-slider>
</div>
