<div class="options">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Grid options </mat-panel-title>
      </mat-expansion-panel-header>
      <app-solver-grid-options></app-solver-grid-options>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Value options </mat-panel-title>
      </mat-expansion-panel-header>
      <app-solver-value-options></app-solver-value-options>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Solution options </mat-panel-title>
      </mat-expansion-panel-header>
      <app-solver-solution-options></app-solver-solution-options>
    </mat-expansion-panel>
  </mat-accordion>
</div>
