.list-option-text {
  vertical-align: super;
}

.name-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-edit {
  flex: 1;
}

.close-edit-button {
  padding-right: 4px;
}
