<mat-accordion>
  @for(view of activeConstraint()?.views; track view) {
  <mat-expansion-panel (opened)="onViewOpened(view)" (closed)="onViewClosed()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-icon-button (click)="onDeleteViewClick($event, view)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="onAddGroupClick($event, view)">
          <mat-icon>add</mat-icon>
        </button>
        <input
          [ngModel]="view.name"
          (ngModelChange)="onViewNameChange($event, view)"
          (keydown)="$event.stopPropagation()"
          class="editable"
        />
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="onGroupSelection($event)"
    >
      @for(group of view.groups; track group) {
      <mat-list-option
        [value]="group"
        [selected]="selectedGroup.isSelected(group)"
        ><button mat-icon-button (click)="onDeleteGroupClick($event, group)">
          <mat-icon>remove</mat-icon></button
        ><span class="list-option-text">
          <input
            [ngModel]="group.name"
            (ngModelChange)="onGroupNameChange($event, group)"
            (keydown)="$event.stopPropagation()"
            class="editable" /></span
      ></mat-list-option>
      }
    </mat-selection-list>
  </mat-expansion-panel>
  }
</mat-accordion>
