<mat-accordion>
  @for(problem of problems; track problem.solutions) {
  <mat-expansion-panel (closed)="onProblemClosed()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-icon-button (click)="onDeleteProblemClick($event, problem)">
          <mat-icon>delete</mat-icon>
        </button>
        {{ problem.name }}</mat-panel-title
      >
    </mat-expansion-panel-header>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="onSolutionSelection($event)"
    >
      @for(solution of problem.solutions; track solution.values) {
      <mat-list-option
        [value]="solution"
        [selected]="selectedSolution.isSelected(solution)"
      >
        <button
          mat-icon-button
          (click)="onDeleteSolutionClick($event, solution)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <span class="list-option-text">{{ solution.name }}</span>
      </mat-list-option>
      }
    </mat-selection-list>
  </mat-expansion-panel>
  }
</mat-accordion>
