/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./assets/styles/mixin";
@use "./assets/styles/theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mixin.mat-option-item-spaced;

@include mat.all-component-themes(theme.$light-theme);

body.dark-theme {
  @include mat.all-component-colors(theme.$dark-theme);
}
